@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Encode+Sans:wght@100;200;300;400;600;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,300;1,500;1,600&display=swap");

body {
  padding: 0px;
  margin: 0px;
  background-color: rgb(235, 223, 215);
  font-family: "Poppins", sans-serif;
  font-weight: 300px;
  scrollbar-width: none;
  --ms-overflow-style: none;
}
body::-webkit-scrollbar {
  width: 0.4rem; /* Width of the scrollbar track */
}

/* Optional: For Webkit-based browsers like Chrome and Safari */
body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); /* Color of the scrollbar thumb */
  border-radius: 0.25rem; /* Rounded corners of the scrollbar thumb */
}

.top-nav {
  height: 80px;
  background-color: rgb(235, 223, 215);
  padding: 5px;
  border-radius: 2px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  margin-left: 250px;
}

p {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

span {
  font-size: 0.7rem;
}

.product-info {
  text-align: center;
  display: flex;
  justify-content: space-around;
  height: 50px;
}

.user {
  height: inherit;
  background-color: #fff;
  width: 250px;
  float: right;
  margin-right: 50px;
  display: flex;
  justify-content: space-around;
  border-radius: 25px;
  padding: 1px;
}

.user img {
  height: 50px;
}

.user-logo {
  display: flex; /* Use flexbox to center the image horizontally and vertically */
  justify-content: center; /* Center horizontally */
  align-items: center;
}

.user-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.product-info {
  padding: 1px;
  border-radius: 5px;

  height: 80px;
  width: 200px;
  margin-bottom: 50px;
  margin-top: 10px;
}

.sidebar {
  width: 210px;
  background-color: #060606;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  color: #fff;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px 0;
  text-align: center;
  margin-top: 20px;
  text-align: left;
  margin: 10px;
  border-radius: 5px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 10px 20px;
}

.sidebar ul li a.active {
  background-color: #555;
}

/* -----------side nav end -----------  */

/* ------------ dropdown --------  */

/* Your existing CSS styles for the sidebar */

/* Style the dropdown menu */
.sidebar ul li ul.dropdown {
  display: none;
  width: 150px;
  top: 0;
  margin: auto;
  list-style: none;
  z-index: -1;
  padding: 0px;
}

.sidebar ul li:hover ul.dropdown {
  display: block; /* Display the dropdown menu when the parent li is hovered */
}

/* Style the dropdown menu links */
.sidebar ul li ul.dropdown li {
  text-align: left;

  border-radius: 5px;
  padding: 5px;

  margin: 3px;
}

.sidebar ul li ul.dropdown li a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 10px;
}

.sidebar ul li ul.dropdown li a.active {
  border: #040d12;
  border-width: 4px;
}
/* ------------- drop down end ---------  */

.content {
  margin-left: 220px;
  padding: 20px;
  padding-top: 10px;
  display: flex;
  margin-top: 10px;
  justify-content: space-around;
  flex-direction: column;
  background-color: rgb(235, 223, 215);
}

.first-row {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin-top: 20px;
}

.first-row-img {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-row-img img {
  width: 320px;
}

.vechicle-info {
  width: 300px;
  background: rgba(255, 255, 255, 0.34); /* Transparent white background */
  backdrop-filter: blur(10px); /* Background blur effect */
  border-radius: 10px;
  /* overflow: auto; */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 10px;
}

.vechicle-atter {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px;
  margin-top: 10px;
}

p {
  text-align: left;
}

.vechicle-performance {
  width: 300px;
  background: rgba(255, 255, 255, 0.34);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 10px;
}

.fuel-info {
  display: flex;
  width: 300px;
  padding: 10px;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background: rgba(255, 255, 255, 0.34);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.second-row {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin-top: 40px;
}

.sixth-row {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin-top: 40px;
}

.intake-temperature-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  width: 36vw;
  background: rgba(255, 255, 255, 0.34);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.rail-gauge-pressure-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 36vw;
  padding: 10px;

  background: rgba(255, 255, 255, 0.34);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.forth-row {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin-top: 40px;
}

.pressure-info,
.temperature-info {
  background: rgba(255, 255, 255, 0.34);
  backdrop-filter: blur(10px);
  border-radius: 10px;

  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 20px;
}

.rpm-temp-battery .vechicle-atter {
  justify-content: space-around;
  background-color: rgba(0, 255, 255, 0.605);
  border-radius: 5px;
  padding: 12px;
}

.icon-cont {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 120px;
}

.rpm :hover {
  background-color: #040d12;
}

#mymap {
  width: 400px;
  background: rgba(255, 255, 255, 0.34);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 10px;
}

.second-row-speed {
  padding: 20px;
  background: rgba(255, 255, 255, 0.34);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.throt-pos {
  padding: 20px;
  width: fit-content;
  margin-top: 30px;
  margin-left: 50px;
  background: rgba(255, 255, 255, 0.34);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.air-flow-rate {
  padding: 20px;
  width: fit-content;
  margin-top: 30px;
  margin-left: 50px;
  background: rgba(255, 255, 255, 0.34);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.acceleration {
  padding: 20px;
  width: fit-content;
  margin-top: 30px;
  margin-left: 50px;
  background: rgba(255, 255, 255, 0.34);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}
