/* general */
/* -------------side nav bar --------------  */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: sans-serif;
}

body {
  font-family: sans-serif;
  overflow-x: hidden;
  font-size: 1rem;
}

body::-webkit-scrollbar {
  width: 0.4rem;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0.25rem;
}

.header {
  display: none;
}

.sidebar {
  background-color: #1c1c1c;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  color: #fff;
  overflow-x: hidden;
  width: 5%;
  transition: 0.5s;
}

.sidebar .logo {
  width: 12em;
  margin: 1em 0em 1em 0.5em;
  transition: 0.5s;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 10em;
}

.sidebar ul li {
  display: flex;
  align-items: center;
  justify-content: left;
}

.sidebar ul li i {
  font-size: 1.5em;
  margin-left: 1em;
}

.sidebar ul li a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 1.4em 1.2em;
  white-space: nowrap;
  text-align: left;
  margin-left: 1em;
  transition: 0.3s;
  font-weight: 600;
  opacity: 0;
}

.sidebar ul li:hover {
  background-color: #555;
  cursor: pointer;
}

.sidebar:hover ul li a {
  margin-left: -0.4em;
  opacity: 1;
}

.blackbox {
  width: 10em;
  height: 3em;
  background-color: #1c1c1c;
  padding: 1em;
  margin-left: -9em;
  transition: 0.5s;
  opacity: 1;
}

.sidebar:hover .blackbox {
  width: 0;
  margin-left: -8em;
  opacity: 0;
}

.logocontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.closebtn {
  display: none;
}

.sidebar ul li.active {
  background-color: #ff326c;
}

.sidebar:hover {
  width: 13%;
}

.sidebar:hover .logo {
  width: 10em;
}

.df {
  display: flex;
  justify-content: center;
  align-items: center;
}

.para span {
  display: flex;
  flex-direction: row;
  align-items: center;
}

canvas {
  width: 100% !important;
  height: auto !important;
}

.col {
  flex-direction: column;
}

.c {
  border-radius: 0.3rem;
  box-shadow: 0 0 7px #1c1c1c50;
}

.para {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 100%;
  box-shadow: 0 0 7px #1c1c1c50;
  height: 12rem;
  width: 12rem;
  margin: 0 auto;
  text-align: center;
}

h4 {
  font-size: 2rem;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
  font-weight: 200;
}

h6 {
  font-size: 1.5rem;
  margin-left: 0.5rem;
  font-weight: 200;
}

h3 {
  font-size: 1.1rem;
  text-transform: uppercase;
  padding: 1.2rem 0;
}

h5 {
  font-size: 0.9rem;
  text-transform: capitalize;
  padding: 0;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  color: #ff3268;
  font-weight: 800;
}

.dial {
  border-radius: 1rem;
  height: 7rem;
}

.dial span {
  flex-direction: row;
  align-items: center;
}

.dial h4 {
  font-size: 2.7rem;
}

.dial h6 {
  font-size: 1.5rem;
}

/* grid */

.container {
  display: grid;
  grid-template-columns: 14% 1fr 1fr 1fr 1fr 1fr 0%;
  grid-template-rows: 1fr 1fr 0.5fr 1fr 1fr 0.5fr 1fr 0.5fr 1fr;
  grid-template-areas:
    "search button . . user user"
    "search veh-details veh-details driver-details driver-details payload"
    "search title1 title1 title1 title1 title1"
    "search rpm fuel trans-oil egt cool-oil"
    "search a1 a2 alternator fuel-rate oilpress"
    "search title2 title2 title2 title2 title2"
    "search hp1 hp2 hp3 hp4 hp5"
    "search title3 title3 title3 title3 title3"
    "search pressure1 veh-img2 pressure2 . .";
  font-size: 1rem;
  height: 100vh;
  gap: 1rem 1rem;
  padding-left: 5%;
  transition: 0.5s;
}

.search {
  grid-area: search;
  overflow-y: scroll;
}

.button {
  grid-area: button;
}

.user {
  grid-area: user;
}

.veh-details {
  grid-area: veh-details;
}

.driver-jpg {
  grid-area: driver-jpg;
}

.driver-details {
  grid-area: driver-details;
}

.title1 {
  grid-area: title1;
}

.rpm {
  grid-area: rpm;
}

.trans-oil {
  grid-area: trans-oil;
}

.fuel {
  grid-area: fuel;
}

.egt {
  grid-area: egt;
}

.a1 {
  grid-area: a1;
}

.torque {
  grid-area: a2;
}

.cool-oil {
  grid-area: cool-oil;
}

.alternator {
  grid-area: alternator;
}

.fuel-rate {
  grid-area: fuel-rate;
}

.oilpress {
  grid-area: oilpress;
}

.payload {
  grid-area: payload;
}

.title2 {
  grid-area: title2;
}

.hp1 {
  grid-area: hp1;
}

.hp2 {
  grid-area: hp2;
}

.hp3 {
  grid-area: hp3;
}

.hp4 {
  grid-area: hp4;
}

.hp5 {
  grid-area: hp5;
}

.title3 {
  grid-area: title3;
}

.veh-img2 {
  grid-area: veh-img2;
}

.b1 {
  grid-area: b1;
}

.b2 {
  grid-area: b2;
}

.b3 {
  grid-area: b3;
}

.b4 {
  grid-area: b4;
}

.title4 {
  grid-area: title4;
}

.v1 {
  grid-area: v1;
}

.v2 {
  grid-area: v2;
}

.v3 {
  grid-area: v3;
}

.v5 {
  grid-area: v5;
}

.v6 {
  grid-area: v6;
}

.temp {
  grid-area: temp;
}

.pressure1 {
  grid-area: pressure1;
}

.pressure2 {
  grid-area: pressure2;
}

/* button */
.button button {
  padding: 0.5em;
  border-radius: 0.3rem;
  background-color: #ff3268;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
  transform: scale(1);
  width: 80%;
  display: flex;
  align-items: center;
}

.button button:hover {
  box-shadow: 0 0 7px #1c1c1c50;
  transform: scale(1.05);
}

.button button i {
  font-size: 1.5em;
  margin-right: 0.4em;
}

.button button:hover {
  box-shadow: 0 0 7px #1c1c1c50;
  transform: scale(1.05);
}

/* search table */

.search h2 {
  font-size: 1.2em;
  text-align: center;
  word-wrap: nowrap;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}

#myInput {
  width: 100%;
  font-size: 1rem;
  padding: 0.8rem 1.1rem 0.8rem;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

.search input {
  width: 100%;
  font-size: 1rem;
  padding: 1empx;
  margin-bottom: 1em;
}

.search table {
  border-collapse: collapse;
  width: 100%;
  word-wrap: nowrap;
  font-size: 0.8em;
}

#myTable th,
#myTable td {
  border: 1px solid #ddd;
  padding: 1em;
  text-align: center;
}

#myTable th {
  background-color: #f6f6f6;
}

#myTable tr:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

/* dashboard parameters */
.user {
  font-size: 1rem;
  height: 10vh;
  display: flex;
  align-items: center;
  margin: 1rem;
}

.user i {
  font-size: 3em;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.user div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#username {
  margin-bottom: 0.3em;
  font-size: 1.2rem;
}

#post {
  font-size: 1rem;
}

/* vehicle img */

.veh-details {
  justify-content: center;
  font-size: 0.9em;
  align-items: center;
  box-shadow: 0 0 7px #1c1c1c50;
  padding: 1em;
}

.veh-details img {
  width: 40%;
}

.veh-details table {
  margin-left: 1em;
}

.veh-details td {
  padding-bottom: 0.5em;
  padding-right: 0.2em;
}

/* driver details and image */

.driver-details {
  box-shadow: 0 0 7px #1c1c1c50;
  padding: 1em;
  /* width: 400px; */
}

.driver-details img {
  border-radius: 100%;
  width: 20%;
  border: 2px solid #ff3268;
  padding: 1em;
}

.driver-details table {
  margin-left: 1em;
  font-size: 0.9em;
}

.driver-details td {
  padding-bottom: 0.5em;
  padding-right: 0.2em;
}

.driver-details td b {
  text-transform: uppercase;
}

.title1 {
  display: flex;
  flex-direction: row;
}

/* 
.title1 img {
  width: 1rem;
  height: auto;
  padding-right: 0;
} */

/* payload */
.payload {
  padding: 1em;
}

.payload table {
  margin-left: 1em;
  font-size: 0.9em;
}

.payload td {
  padding-bottom: 0.5em;
  padding-right: 0.2em;
}

.payload td b {
  text-transform: uppercase;
}

.veh-img2 img {
  width: 98%;
}

.t1 {
  margin-top: 3rem;
  margin-left: 2rem;
  padding: 0.5rem;
}

.t3 {
  margin-top: 4.5rem;
  margin-left: 2rem;
  padding: 0.5rem;
}

.t2 {
  margin-top: 3rem;
  margin-right: 2rem;
  padding: 0.5rem;
}

.t4 {
  margin-top: 4.5rem;
  margin-right: 2rem;
  padding: 0.5rem;
}
